@model Flights_manager.Models.Reservation.ReservationListViewModel;
@{
    ViewData["Title"] = "Confirmed reservations";
}

<h1>Confirmed reservations:</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Email:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reservations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="ReservationDetails" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

